// bower:scss
// endbower

.main-form {
  margin: 20px 0px;
  padding: 10px;
}

.desc {
  background-color: #fcfcfc;
  margin: 10px;
  border: 1px solid #cccccc;
  padding: 20px;
}

.translation {
  color: #aaaaaa;
  font-style: italic;
}

.pop-over {
  position: absolute;
  top: 15%;
  display: none;
  width: 98.5%;
}