<div class="main-form">
  <form id="main-form">
    <input type="text" id="phrase" placeholder="Word / Phrase">
    <input type="submit" class="btn btn-positive btn-block" value="Translate">
  </form>
</div>